.modal-header{
    display: flex;
    justify-content: space-evenly;
}

.btn-close{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E6EB;
}   

.btn-close:hover{
    background-color:#D8DADF ;
}
.imgzkb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-link{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav-item{
    width: 90px;
    height: 22px;
    background-color: #E4E6EB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.dropdown-toggle::after{
    margin-left: 5px;
}

.nav-item:hover{
    background-color: #cccdd1;
}

.imgzkb:hover{
    background-image: none;
    filter:brightness(0.95) ;
    cursor: pointer;
}
input{
    outline:none ;
    border: white;
    margin-left: 15px;
    font-size: 30px;
}

img{
    object-fit: cover;
}

.Creat{
    width: 467px;
    border: 1px solid #CED0D4;
    border-radius: 10px;
    height: 60px;
    margin: 15px;
   
}

.Creat i{
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  
   
    
}

.Creat i:hover{
    background-color: #F2F2F2;
    
}

